@page "/pagination"
@using Core.Models
@using BlazorComponentLibServer.Models

<h3>Pagination</h3>
<br />

<input @bind="NbEntity" type="number" />
<button type="button" class="btn btn-primary" @onclick="Generate">Generate</button>
<br />
<br />

@if (Generated == true)
{
    <br />

    <div>
        Pagination d'une liste

        <TableComponentOverrided ListEntities="ListPersons" Paginated="true" Crud="true" T="Person"></TableComponentOverrided>
    </div>

    <br />

    <div>
        Pagination d'une liste personalisée

        <TableComponentOverrided ListEntities="ListPersonsFiltered" Paginated="true" T="Person"></TableComponentOverrided>
    </div>

    <br />

    <div>
        Tableau complet d'une liste

        <TableComponentOverrided ListEntities="ListPersons" T="Person"></TableComponentOverrided>
    </div>

}